/* HEADER BEGIN */

.page-logo-container img {
    width: 5rem;
}

.open-auth-modal {
    cursor: pointer;
}

.page-header {
    z-index: 2;
}

/* HEADER END */


/* HERO BEGIN */

.hero-container {
    background-image: url(./../../../LIB/MEDIA/IMGS/page-banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 112px);
    margin-top: 112px;
}

/* Hero END */

/* AUTH MODAL BEGIN */

.auth-overlay {
    background: rgba(0, 0, 0, 0.7);
    padding-top: 5rem;
    z-index: 3;
}

.close-btn {
    color: #FF0000;
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.close-btn:hover {
    color: #CCC;
}

.close-btn:active {
    color: #FF0000;
}


/* AUTH MODAL END */