/* EDITABLE CONTENT STYLES */

.banner-img-container {
    background-image: url("./../MEDIA/IMGS/example-banner.png");
}

.banner-img-container:hover,
.page-title-container:hover {
    transform: scale(1.1);
    outline: 2px solid #222;
}

.page-article {
    position: relative;
}

.page-article:hover,
.page-article h2:hover,
.page-article p:hover,
.page-article img:hover {
    padding: 1rem;
    transform: scale(1.1);
    outline: 2px solid #222;
    background-color: #fff;
}

.page-article img:hover,
.banner-img-container:hover {
    cursor: pointer;
}

.page-title-container:hover {
    cursor: auto;
}

.page-article:hover .delete-article-btn,
.page-article:hover .save-content-btn {
    display: block;
}


.delete-article-btn {
    position: absolute;
    display: none;
}

.delete-article-btn span {
    cursor: pointer;
    color: #ff0000;
}

.delete-article-btn span:hover {
    color: #ccc;
}

.delete-article-btn span:active {
    color: #ff0000;
}

.template-1 .delete-article-btn {
    top: 1rem;
    right: 1rem;
}

.template-2 .delete-article-btn {
    top: 1rem;
    left: 1rem;
}

.save-content-btn {
    position: absolute;
    display: none;
}

.save-content-btn button {
    background-color: #aaffaa;
    border: 1px solid #88ff88;
    border-radius: .25rem;
    padding: .5rem 1.5rem;
    color: #fff;
}

.save-content-btn button:hover {
    background-color: #88ff88;
}

.save-content-btn button:active {
    background-color: #aaffaa;
}

.template-1 .save-content-btn {
    bottom: 1rem;
    right: 1rem;
}

.template-2 .save-content-btn {
    bottom: 1rem;
    left: 1rem;
}

/* ADD NEW ELEMENTS BTN STYLES */

.add-element-btn {
    cursor: pointer;
    background-color: #66ff66;
    border: .75rem solid #aaffaa;
    text-align: center;
    color: #fff;
}

.add-element-btn:hover {
    background-color: #88ff88;
    border-color: #bbffbb;
}

.add-element-btn span {
    color: #fff;
    font-size: 1.5rem;
    line-height: 36px;
    margin: .25rem;
}

/* OFFCANVAS NEW ELEMENTS MENU STYLES */

.elements-side-menu a {
    color: #222;
    text-decoration: none !important;
}

.elements-side-menu a:hover h4,
.elements-side-menu a:hover p {
    color: #666;
}