*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
}

ul {
    list-style: none;
}

a {
    text-decoration: none !important;
    color: #222 !important;
}

.d-none {
    display: none !important;
}

body {
    height: 100vh;
}