body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.banner-img-container {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-size: cover;
    background-position: center 15%;
    background-repeat: no-repeat;
}

.page-title-container {
    border-radius: .25rem;
    background: rgba(0, 0, 0, 1) 75%;
}

.img-container img {
    aspect-ratio: 16/9 !important;
    max-width: 100%;
}

.article-title-container h2 {
    text-align: center;
}

.page-footer {
    background-color: #222;
    color: #fff;
}