.page-section.page-banner {
    position: relative;
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-image: url(./../MEDIA/IMGS/banner-pueblo.png);
    background-size: cover;
    background-position: center 15%;
    background-repeat: no-repeat;
}

.page-section.page-banner::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:rgba(0, 0, 0, 0.2);
}

.page-title-container {
    border-radius: .25rem;
    background: rgba(0, 0, 0, 1) 75%;
}

.img-container img {
    max-width: 100%;
}

.article-title-container h2 {
    text-align: center;
}

.page-footer {
    background-color: #222;
    padding: ;
}